<%= form_tag "/recipe_form_result", method: :post  do %>
  <div>Title: <input type="text" name="title_param"></div>
  <div>Chef: <input type="text" name="chef_param"></div>
  <div>Prep time: <input type="text" name="prep_time"></div>
  <input type="submit" value="Create Recipe">
<% end %>
